<div>

<!--
<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.id}} {{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->

    <div class="item-input-inset">
            <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input force-lower-case type="text" class="bold" placeholder="Search 7 Matches" ng-model="search" ng-value="search" ng-change="filterResults(search)">
  </label>
            <button class="button button-stable button-clear" ng-click="filterResults(null);search=null">
    Annuler
  </button>
        </div>
        <div class="item item-divider bg-white uppercase color-blue" style="border:none;">
            Matches
            <span class="badge-tinder gotham-book">4</span>
        </div>
        <div class="padding">
            <ks-swiper-container initial-slide="0" loop="false" show-nav-buttons="false" slides-per-view="4" space-between="5" pagination-clickable="false">
                <ks-swiper-slide class="swiper-slide" ng-repeat="s in ['lisa', 'julia', 'margaux', 'anthony', 'elie']">
                    <img ng-src="img/{{s}}.jpg" class="img-circled">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
        <hr>
        <div class="item item-divider bg-white uppercase color-blue" style="border:none;">Messages</div>
        <ion-list>
            <ion-item class="item-light item-text-wrap item-avatar item-borderless item-icon-right" data-ng-repeat="blog in ['brian', 'margaux', 'lisa', 'elie','anthony', 'tony', 'brian', 'julia'] track by $index"
                style="overflow:hidden;"  ui-sref="tab.chat-detail({ chatId : 1 })">
                <img ng-src="img/{{blog}}.jpg">
                <h2 class="capitalize font-120">{{blog}}</h2>
                <p class="capitalize color-gray">Sent you a message</p>
                <hr class="item-hr">
            </ion-item>
        </ion-list>
</div>