<ion-view view-title="Next" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-stable">


        <div class="buttons" ng-click="slideToPrevious()">
            <button class="button button-clear icon {{slideIndex == 2 ? 'ion-waterdrop' : 'ion-ios-gear'}}  animated {{slideIndex == 0 ? 'color-blue' : 'color-gray'}}"></button>
        </div>
        <h1 class="title {{slideIndex ==1 ? 'color-blue' : 'color-gray'}}" ng-click="slideTo(1)">
            <img ng-src="img/next.png" class="header-logo">
        </h1>
        <div class="buttons" ng-click="slideToNext()">
            <button class="button button-clear icon {{slideIndex == 0 ? 'ion-waterdrop' : 'ion-chatbubbles'}}  animated {{slideIndex == 2 ? 'color-blue' : 'color-gray'}}"></button>
        </div>


    </ion-header-bar>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="slideIndex" ion-slide-tabs>

        <ion-slide on-drag-left="onRelease()" on-drag-right="onTouch()">
            <ion-content>
                <profile-page> </profile-page>
            </ion-content>
        </ion-slide>


        <ion-slide>
            <!--<ion-content>-->
            <recommendations-page></recommendations-page>
            <!--</ion-content>-->
        </ion-slide>


        <ion-slide on-drag-left="onTouch()" on-drag-right="onRelease()">
            <ion-content>
                <chats-page></chats-page>
            </ion-content>
        </ion-slide>


    </ion-slide-box>
</ion-view>