<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Settings</h1>
    <button class="button button-clear button-assertive" ng-click="hideSettings()">
      Done
    </button>
  </ion-header-bar>
  <ion-content class="bg-color-stable">
    <div class="list">
      <!--
        <p style="margin-top: 8px;">&nbsp;</p>
        <ion-item class="text-center color-red">
          Get Next Plus
        </ion-item>
      -->
        <!--
          <p style="margin-top: 8px;">&nbsp;</p>
        -->
        <div class="padding color-gray">Discovery Settings</div>

        <ion-item class="item-icon-right">
          <span class="gotham-book">Localisation</span>
          <span class="item-note color-darkgray gotham-book">France</span>
          <!--<i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>-->
        </ion-item>

        <ion-item class="item-icon-right">
          <span class="gotham-book">Types recherché</span>
          <span class="item-note color-gray gotham-medium">Seulement des femmes</span>
          <!-- <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i> -->
        </ion-item>

        <p style="margin-top: 8px;">&nbsp;</p>
        <ion-toggle  ng-model="myToggle" ng-change="highQualityChanged(toggle)" toggle-class="toggle-assertive" ng-checked='toggle'>
          <span class="bold">Cacher mon profil aux autres</span>
        </ion-toggle>
        <p class="padding color-gray">Vous n'apparaittrez pas dans les recommandations NEXT </p>

        <p style="margin-top: 8px;">&nbsp;</p>
        <div class="padding color-gray">Notifications</div>
        <ion-toggle  ng-model="myToggle" ng-change="highQualityChanged(toggle)" toggle-class="toggle-assertive">
          <span class="bold">Nouvelles affinités</span>
        </ion-toggle>
        <ion-toggle  ng-model="myToggle" ng-change="highQualityChanged(toggle)" toggle-class="toggle-assertive">
          <span class="bold">Messages</span>
        </ion-toggle>
        <ion-toggle  ng-model="myToggle" ng-change="highQualityChanged(toggle)" toggle-class="toggle-assertive">
          <span class="bold">Likes de message</span>
        </ion-toggle>
        <ion-toggle  ng-model="myToggle" ng-change="highQualityChanged(toggle)" toggle-class="toggle-assertive">
          <span class="bold">Super Likes</span>
        </ion-toggle>

        <p style="margin-top: 2px;">&nbsp;</p>
        <div class="padding color-gray">CONTACTEZ NOUS</div>
        <ion-item class="text-center gotham-book">Aide & Support</ion-item>
        <p style="margin-top: 2px;">&nbsp;</p>
        <ion-item class="text-center gotham-book">Donnez nous votre avis</ion-item>

        <p style="margin-top: 2px;">&nbsp;</p>
        <ion-item class="text-center gotham-book">Partager Next</ion-item>

        <p style="margin-top: 4px;">&nbsp;</p>
        <div class="padding color-gray">Legal</div>
        <ion-item class="item-icon-right gotham-book">
          Privacy Policy
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>
        <ion-item class="item-icon-right gotham-book">
          Terms of Service
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>
        <ion-item class="item-icon-right gotham-book">
          Licenses
          <i class="icon ion-ios-arrow-forward color-gray font-130 bold"></i>
        </ion-item>
        <p style="margin-top: 4px;">&nbsp;</p>
        <ion-item class="text-center gotham-book">Deconnexion</ion-item>

        <p style="margin-top: 4px;">&nbsp;</p>
        <p class="text-center">
          <i class="ion-waterdrop text-center color-red" style="font-size:42px;"></i>
        </p>
        <p class="text-center">
          Version 0.1.0
        </p>
        <p style="margin-top: 4px;">&nbsp;</p>
        <ion-item class="text-center gotham-book">Supprimer votre compte</ion-item>
        <p style="margin-top: 10px;">&nbsp;</p>

    </div>
  </ion-content>
</ion-modal-view>