<ion-view view-title="Next" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-stable">


    <div class="buttons" ng-click="slideToPrevious()">
      <button class="button button-clear icon {{slideIndex == 2 ? 'ion-waterdrop' : 'ion-ios-gear'}}  animated {{slideIndex == 0 ? 'color-blue' : 'color-gray'}}"></button>
    </div>
    <h1 class="title {{slideIndex ==1 ? 'color-blue' : 'color-gray'}}" ng-click="slideTo(1)">
      <img ng-src="img/next.png" class="header-logo">
    </h1>
    <div class="buttons" ng-click="slideToNext()">
      <button class="button button-clear icon {{slideIndex == 0 ? 'ion-waterdrop' : 'ion-chatbubbles'}}  animated {{slideIndex == 2 ? 'color-blue' : 'color-gray'}}"></button>
    </div>


  </ion-header-bar>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="slideIndex" ion-slide-tabs>












    <ion-slide on-drag-left="onRelease()" on-drag-right="onTouch()">
      <ion-content>



        <div class="profile-container">
          <img ng-click="showProfile()" ng-src="img/brian.jpg" class="profile-image" width="100">
          <img ng-click="showEditProfile()" ng-src="img/edit.png" class="profile-edit" width="50">
        </div>

        <div class="text-center padding" style="margin-top:22px;">
          <h3>Brian</h3>
          <h4>CTO APP and GO</h4>
          <p class="color-gray">Concepteur de l'application NEXT</p>
          <p class="color-gray">Cette aplication vous permet de trouver des affinités pres de chez vous.</p>
        </div>

        <ion-list class="text-center uppercase">
          <ion-item class="color-blue" style="top: 30px;" ng-click="showEditProfile()">
            Editer Profil
          </ion-item>
          <ion-item class="color-blue" style="top: 30px;" ng-click="showSettings()">
            Réglages
          </ion-item>
          <!--<ion-item class="color-pastel-blue" style="top: 30px;">
              Obtenir Next Plus
            </ion-item>-->
        </ion-list>




      </ion-content>
    </ion-slide>








    <ion-slide>
      <recommendations-page></recommendations-page>
    </ion-slide>

















    <ion-slide on-drag-left="onTouch()" on-drag-right="onRelease()">
      <ion-content>
        <div class="item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input force-lower-case type="text" class="bold" placeholder="Search 7 Matches" ng-model="search" ng-value="search" ng-change="filterResults(search)">
          </label>
          <button class="button button-stable button-clear" ng-click="filterResults(null);search=null">
            Annuler
          </button>
        </div>
        <div class="item item-divider bg-white uppercase color-blue" style="border:none;">
          Matches
          <span class="badge-tinder gotham-book">4</span>
        </div>
        <div class="padding">
          <ks-swiper-container initial-slide="0" loop="false" show-nav-buttons="false" slides-per-view="4" space-between="5" pagination-clickable="false">
            <ks-swiper-slide class="swiper-slide" ng-repeat="s in ['lisa', 'julia', 'margaux', 'anthony', 'elie']">
              <img ng-src="img/{{s}}.jpg" class="img-circled">
            </ks-swiper-slide>
          </ks-swiper-container>
        </div>
        <hr>
        <div class="item item-divider bg-white uppercase color-blue" style="border:none;">Messages</div>
        <ion-list>
          <ion-item class="item-light item-text-wrap item-avatar item-borderless item-icon-right" data-ng-repeat="blog in ['brian', 'margaux', 'lisa', 'elie','anthony', 'tony', 'brian', 'julia'] track by $index"
            style="overflow:hidden;" ng-href="#/tab/dash/1">
            <img ng-src="img/{{blog}}.jpg">
            <h2 class="capitalize font-120">{{blog}}</h2>
            <p class="capitalize color-gray">Sent you a message</p>
            <hr class="item-hr">
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-slide>









  </ion-slide-box>
</ion-view>