<div>
    <div class="radar" ng-if="!cards.active.length" ng-click="refreshCards()">
        <img ng-src="img/brian.jpg" width="100" height="100">
    </div>

    <!-- *************************
            TD Cards
            - We start off with an ng-if so that the cards are not generated
              unless $scope.cards is not 'null'
          ************************* -->
    <div ng-if="cards.active">
        <td-cards on-touch="onTouch()" on-release="onRelease()" ng-click="showProfile()">
            <td-card ng-style="$index > 3 &&  {'display':'none'}" ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)"
                on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-drag-right="onDragRight($index)"
                on-transition-left="transitionLeft($index)" on-transition-right="transitionRight($index)">
                <div class="image">
                    <div class="no-text">NEXT</div>
                    <div class="yes-text">LIKE</div>
                    <!-- *************************
                    Discard
                    - The card is removed from the deck and a fly away animation is triggered.
                    - onClickTransitionOut is found in ionic.tdcards.js
                    - Animation can be customized by changing defaults
                  ************************* -->
                    <!-- <div class="discard" ng-click="onClickTransitionOut(card)">DISCARD</div> -->
                    <img ng-src="{{ card.image }}">
                    <div class="item">
                        <h2>Brian, 23</h2>
                        <p>
                            Ionic Engineer
                            <!-- <i class="ion-ios-book color-coral font-150 pull-right"></i> -->
                        </p>
                    </div>
                </div>
            </td-card>
            <!-- *************************
                End Card
                - 'drag' is set to false. The user cannot drag it.
                - 'refreshCards()' reloads all cards that have NOT been discarded.
              ************************* -->
            <td-card id="end-card" drag="false">
                <!-- <div class="tinder-refresh-button" ng-click="refreshCards()"></div> -->
                <div class="disable-user-behavior">
                    <!-- <div class="tinder-refresh-button" ng-click="refreshCards()"></div> -->
                </div>
                <!-- <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i> -->
            </td-card>
        </td-cards>
    </div>

    <like-button></like-button>
<!--
    <div class="tinder-buttons" ng-if="cards.active">
        <div class="tinder-button  animated bounceIn" ng-click="like(false)"></div>
        <div class="info" ng-click="showProfile()"></div>
        <div class="tinder-button  animated bounceIn" ng-click="like(true)"></div>
    </div>
    -->
</div>